# ignore everything from default, we will exclude some things later
*/*
bin/*

# include these scripts/programs
!bin/manage
!bin/brightness

# fonts and dotfiles
!.fonts/*
!.dotfiles/*

# install/uninstall/upgrade scripts
!*/install
!*/install-root-*
!*/uninstall
!*/uninstall-root-*
!*/upgrade
!*/upgrade-root-*

# link specs
!*/links

# environment-specific data (soruce files mostly)
!*/.data
